{% extends "base.html" %}
{% block title %}Products - ProdComb{% endblock %}
{% block heading %}Products{% endblock %}
{% block content %}
  {% if products %}
    <table>
      <thead>
        <tr>
          <th scope="col"><strong>ID#</strong></th>
          <th scope="col"><strong>Unique Name</strong></th>
          <th scope="col"><strong>Proper Name</strong></th>
          <th scope="col"><strong>Vendor</strong></th>
          <th scope="col"><strong>Category</strong></th>
        </tr>
       <tbody>
        {% for product in products %}
          <tr>
            <td>{{ product.pk }}</td>
            <td>{{ product.search_term }}</td>
            <td>{{ product.full_name }}</td>
            <td>{{ product.vendor }}</td>
            <td><a href="{% url 'category_detail' product.category.pk %}">{{ product.category.name }}</a></td>
          </tr>
        {% endfor %}
      </thead>
     </tbody>
    </table>
  {% else %}
    <p><strong>No products found!</strong></p>
  {% endif %}
{% endblock content %}
